.flex {
    display: flex;
}

.navbar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 1;
    max-height:100px;
}


.logo:hover {
    cursor: pointer;
}